.container {
    min-height: 2.5rem; 
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 2.5rem;
    flex-wrap: wrap;
}
.tableWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
    flex-wrap: wrap;
    flex: 1;
}

.table {
    width: 100%;
    table-layout: auto;
    font-family: var(--font);
    font-size: var(--font-size);
}

.thead {
    background-color: var(--background-accent);
}

.thead th {
    padding: 0.75rem 1rem;
    text-align: left;
    font-weight: var(--font-weight-semibold);
    color: var(--text-color);
    white-space: nowrap;
}

.tbody {
    width: 100%;
}


.row {
    cursor: pointer;
    border-bottom: 1px solid var(--border-color );
}

.row td {
    padding: 0.75rem 1rem;
    vertical-align: middle;
    white-space: nowrap;
}

.row:hover {
    background-color: var(--background-accent);
}

.nameCell {
    font-weight: var(--font-weight-semibold);
}


.paginationContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 24px;
    margin-top: 12px;
}

@media (max-width: 64.25rem) {/* 1028px */
    .header {
        padding: 1rem 12px; 
    }

    .paginationContainer {
        justify-content: flex-start;     
}

}

@media (max-width: 40.5rem) {/*648px*/
    .tableWrapper {
        gap: 0.8rem;
    }
    
    .dropdownWrapper,
    .dropdownBtn,
    .slackButton,
    .searchWrapper {
        width: 100%;
        max-width: none;
    }

    .paginationContainer {
    justify-content: flex-start;
    }
    .container{
        padding: 0;
    }

}